# General reviewers (string updates)
* @thunderbird/l10n-thunderbird

# Code reviewers (workflows, scripts)
/_scripts/ @thunderbird/build-release @jfx2006
/.github/ @thunderbird/build-release @jfx2006
